
<div id="tableContainer-1" ng-controller="AlertController">
  <div id="tableContainer-2">
    <table id="myTable">
      <tr ng-style="myObj">
        <th HEIGHT=70>
          <div class="title">
	  <span
      ng-class="{'glyphicon glyphicon-exclamation-sign': attente, 'glyphicon glyphicon-ok': ok, 'glyphicon glyphicon-warning-sign':erreur}"
      aria-hidden="true">
	  </span>
            {{title}}
          </div>
          <div class="notify-title-description">
            <span>{{titlee}} </span>

          </div>
        </th>
      </tr>


    </table>


  </div>
</div>

<!--
<div ng-controller="AlertController">
  <button ng-click="myFunc()">OK</button>

</div>

-->

