<div class="form">
  <label>Titre de dashboard (Obligatoire)</label>
  <input type="text" ng-model="vis.params.title" class="form-control" name="empty" ng-class="{red: form.empty.$invalid}"  required//>
</div>
<div class="form-group">
  <label>Seuil maximal</label>
  <input type="number" ng-model="vis.params.max" class="form-control"/>
</div>
<div class="form-group">
  <label>Seuil manimal</label>
  <input type="number" ng-model="vis.params.min" class="form-control"/>
</div>
<div class="form-group">
  <label>Intervalle de zone critique</label>
  <input type="number" ng-model="vis.params.critique" class="form-control"/>
</div>
<div class="form-group">
  <label> Envoyer mail (optionnel) </label>
  <input type="checkbox" ng-model="vis.params.sending" class="form-control"/>
</div>
<div class="form-group">
  <label>Mail</label>
  <input type="text" ng-model="vis.params.mail" class="form-control"/>
</div>
<div class="form-group">
  <label> Css</label>
  <div ui-ace="{ onLoad: aceLoaded, mode: 'css' }" ng-model="$parent.vis.params.css" class="template-editor form-control ng-pristine ng-untouched ng-valid ng-scope ace_editor ace-tm" />
</div>

<div class="form-group">
  <label> Template  </label>
  <div ui-ace="{ onLoad: aceLoaded, mode: 'html' }" ng-model="vis.params.template" class="template-editor form-control ng-pristine ng-untouched ng-valid ng-scope ace_editor ace-tm" />
</div>
