html, body {
  height: 50%;
}
.red {
  border: solid 1px red;
}
#tableContainer-1 {
  height: 100%;
  width: 100%;
  display: table;

}

#tableContainer-2 {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
}

#myTable {
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #dddddd;
  width: 50%;

}

table#myTable th {
  color: white;

}

.notify-title-description {
  color: #F0F8FF;
  padding: 0px 30px;
  font-size: 1.4rem;
}

.title {
  padding-left: 0.4cm;
  font-family: 'Hind Siliguri', open sans;
  font-size: 1.5rem;
}


